#### Задание 1

_Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: 
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [93]:
import pandas as pd

In [94]:
a = {'author_id': [1,2,3], 
     'authors_name': ['Тургенев','Чехов','Островский']
    }
authors = pd.DataFrame(a)
authors.set_index('author_id', inplace=True)
authors

          authors_name
author_id
1             Тургенев
2                Чехов
3           Островский

In [95]:
b = {'author_id': [1, 1, 1, 2, 2, 3, 3], 
     'book_title': ['Отцы и дети','Рудин','Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза' , 'Таланты и поклонники'],
     'price': [450, 300, 350, 500, 450, 370, 290]
    }
book = pd.DataFrame(b)
book.set_index('author_id', inplace=True)
book

                     book_title  price
author_id
1                   Отцы и дети    450
1                         Рудин    300
1             Дворянское гнездо    350
2              Толстый и тонкий    500
2               Дама с собачкой    450
3                         Гроза    370
3          Таланты и поклонники    290

#### Задание 2
_Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [96]:
authors_price = pd.merge(authors, book, on='author_id', how='right')
authors_price

          authors_name            book_title  price
author_id
1             Тургенев           Отцы и дети    450
1             Тургенев                 Рудин    300
1             Тургенев     Дворянское гнездо    350
2                Чехов      Толстый и тонкий    500
2                Чехов       Дама с собачкой    450
3           Островский                 Гроза    370
3           Островский  Таланты и поклонники    290

#### Задание 3
_Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [97]:
top5 = authors_price.sort_values(by='price', ascending=0, inplace=False, ignore_index=True).head(5)
top5

  authors_name         book_title  price
0        Чехов   Толстый и тонкий    500
1     Тургенев        Отцы и дети    450
2        Чехов    Дама с собачкой    450
3   Островский              Гроза    370
4     Тургенев  Дворянское гнездо    350

#### Задание 4
_Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [98]:
authors_stat = authors_price.groupby('authors_name').agg({'price':'min'})
authors_stat = authors_stat.rename(columns={'price':'min_price'})

In [99]:
authors_stat = pd.concat([authors_stat, authors_price.groupby('authors_name').agg({'price':'max'})], axis=1)
authors_stat = authors_stat.rename(columns={'price':'max_price'})

In [100]:
authors_stat = pd.concat([authors_stat, authors_price.groupby('authors_name').agg({'price':'mean'})], axis=1)
authors_stat = authors_stat.rename(columns={'price':'mean_price'})

In [101]:
authors_stat.reset_index(drop=False, inplace=True)
authors_stat

  authors_name  min_price  max_price  mean_price
0   Островский        290        370  330.000000
1     Тургенев        300        450  366.666667
2        Чехов        450        500  475.000000

#### Задание 5 **
_Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [111]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

          authors_name            book_title  price    cover
author_id
1             Тургенев           Отцы и дети    450  твердая
1             Тургенев                 Рудин    300   мягкая
1             Тургенев     Дворянское гнездо    350   мягкая
2                Чехов      Толстый и тонкий    500  твердая
2                Чехов       Дама с собачкой    450  твердая
3           Островский                 Гроза    370   мягкая
3           Островский  Таланты и поклонники    290   мягкая

In [103]:
?pd.pivot_table

In [108]:
import numpy as np

In [128]:
book_info = pd.pivot_table(authors_price, values='book_title', index='authors_name', columns='cover', aggfunc=np.count_nonzero, fill_value=0)

In [129]:
book_info.to_pickle('book_info.pkl')

In [130]:
book_info2 = pd.read_pickle('book_info.pkl')

In [145]:
pd.concat([book_info, book_info2]).drop_duplicates(keep=False)

Empty DataFrame
Columns: [мягкая, твердая]
Index: []

Различий в датафреймах нет