#### Задание 1
Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.datasets import load_boston

In [5]:
boston = load_boston()

In [6]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
features_name = boston['feature_names']
features_name

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [11]:
target = boston['target']
target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [13]:
X = pd.DataFrame(boston.data, columns=features_name)
X.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [17]:
y = pd.DataFrame(target, columns=["price"])
y.head(5)

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [18]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr = LinearRegression()

In [24]:
lr.fit(X_train, y_train)

LinearRegression()

In [28]:
y_pred = lr.predict(X_test)
y_pred.shapeape

(152, 1)

In [30]:
check_test = pd.DataFrame({'y_test': y_test["price"], 'y_pred': y_pred.flatten()})
check_test

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
441    17.1  17.403672
23     14.5  13.385941
225    50.0  39.983425
433    14.3  16.682863
447    12.6  18.285618

[152 rows x 2 columns]

In [31]:
from sklearn.metrics import r2_score

In [32]:
r2 = r2_score(y_test, y_pred)
r2

0.711226005748496

#### Задание 2
Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [33]:
from sklearn.ensemble import RandomForestRegressor

In [34]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [53]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [60]:
y_pred_2 = model.predict(X_test)

(152,)

In [61]:
check_test2 = pd.DataFrame({'y_test': y_test["price"], 'y_pred': y_pred.flatten(), 'y_pred_2': y_pred_2})
check_test2

     y_test     y_pred   y_pred_2
173    23.6  28.648960  22.806412
274    32.4  36.495014  31.131464
491    13.6  15.411193  16.339125
72     22.8  25.403213  23.810726
452    16.1  18.855280  17.139521
..      ...        ...        ...
441    17.1  17.403672  13.521640
23     14.5  13.385941  15.112621
225    50.0  39.983425  42.808700
433    14.3  16.682863  15.586103
447    12.6  18.285618  16.072425

[152 rows x 3 columns]

In [62]:
r2_2 = r2_score(y_test, y_pred_2)
r2_2

0.87472606157312

In [64]:
# ВЫВОД

# По значеням коэффициента детерминации можно сделать вывод, что алгоритм RandomFores дает более точную
# модель предсказания данных. Чем ближе значение коэффициента к 1, тем теснее связь между полученными и 
# исследуемыми данными

#### \*Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.

С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [65]:
# ?RandomForestRegressor

In [75]:
feature_importances = pd.DataFrame({"feature_importance" : model.feature_importances_}, features_name)
feature_importances

         feature_importance
CRIM               0.031676
ZN                 0.001543
INDUS              0.007138
CHAS               0.001236
NOX                0.014269
RM                 0.402682
AGE                0.014299
DIS                0.063973
RAD                0.005281
TAX                0.011525
PTRATIO            0.018081
B                  0.012451
LSTAT              0.415847

In [77]:
feature_importances.feature_importance.sum()

1.0

In [82]:
feature_importances.feature_importance.nlargest(2)

LSTAT    0.415847
RM       0.402682
Name: feature_importance, dtype: float64